<!-- Navigation Menu -->
<div class="header-main-section">
  <div class="header-main-container">

   <!-- Left: Hamburger + Logo -->
  <div class="column-left">
    <!-- Hamburger -->
    <div class="hamburger-menu">
      <button id="menu-toggle">
        <svg width="24" height="24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg> 
      </button>
    </div>

    <!-- Logo -->
    <div class="column-logo">
      <a class="logo-link" href="/">
        <img src="{{ 'logo-1.png' | asset_url }}" alt="Logo" class="site-logo" width="" height="">
      </a>
    </div>
  </div>

  <!-- Center: Navigation -->
  <div class="column-navigation">
    <nav class="main-nav">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>

        <li class="nav-dropdown">
          <a href="#" class="nav-dropdown-toggle">
            Shop
            <svg width="18px" height="18px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>chevron-down-small</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="add"  transform="translate(134.186667, 187.520000)">
                    <polygon id="arrowhead-down" points="121.813333 151.893333 0 30.2933333 30.2933333 0 121.813333 91.7333333 213.333333 0 243.626667 30.2933333">

                    </polygon>
                  </g>
                </g>
            </svg>
          </a>
          <ul class="nav-submenu">
            <li><a href="#">All Products</a></li>
            <li><a href="#">Men’s</a></li>
            <li><a href="#">Women’s</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Sale</a></li>
          </ul>
        </li>

        <li class="nav-dropdown">
          <a href="#" class="nav-dropdown-toggle">
            Collections
            <svg width="18px" height="18px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>chevron-down-small</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="add"  transform="translate(134.186667, 187.520000)">
                  <polygon id="arrowhead-down" points="121.813333 151.893333 0 30.2933333 30.2933333 0 121.813333 91.7333333 213.333333 0 243.626667 30.2933333">

                  </polygon>
                </g>
              </g>
            </svg>
          </a>
          <ul class="nav-submenu">
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Best Sellers</a></li>
            <li><a href="#">Seasonal</a></li>
            <li><a href="#">Limited Edition</a></li>
          </ul>
        </li>

        <li><a href="#">About Us</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- Right Icons -->
  <div class="column-icons">
    <ul class="nav-icon-list">
      <!-- User -->
        <li>
          <a class="nav-icon-item" href="/account">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/></svg>  
          </a>
        </li>
        <!-- Search -->
        <li>
          <a class="nav-icon-item" href="#search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M15.096 5.904a6.5 6.5 0 1 0-9.192 9.192a6.5 6.5 0 0 0 9.192-9.192ZM4.49 4.49a8.5 8.5 0 0 1 12.686 11.272l5.345 5.345l-1.414 1.414l-5.345-5.345A8.501 8.501 0 0 1 4.49 4.49Z"/></svg> 
          </a>
        </li>
        <!-- Heart -->
        <li>
          <a class="nav-icon-item" href="/pages/wishlist">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M12.001 3.818a6.228 6.228 0 0 1 8.51 9.087l-5.224 5.225h-.001L12 21.415l-7.28-7.279l-1.23-1.232c-.001 0 0 0 0 0A6.228 6.228 0 0 1 12 3.818Zm3.285 11.485l3.811-3.812a4.228 4.228 0 1 0-5.98-5.98L12 6.627L10.883 5.51a4.228 4.228 0 1 0-5.98 5.98l1.232 1.232L12 18.587l3.285-3.285Z"/></svg> 
          </a>
        </li>
        <!-- Cart -->
        <li class="shop-cart">
          <a class="nav-icon-item" href="/cart">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M2 2h4v4h15v12H4V4H2V2zm4 14h13V8H6v8zm0 3h4v3H6v-3zm13 0h-4v3h4v-3z"/></svg> 
          </a>
        </li>
    </ul>
  </div>
  </div>
</div>

<!-- OFF-CANVAS MOBILE MENU -->
<div id="site-drawer" class="site-drawer" aria-hidden="true" role="dialog" aria-label="Mobile menu">
  <div class="site-drawer__panel" role="document">
    <div class="site-drawer-close-container">
      <button class="site-drawer__close" id="drawer-close" aria-label="Close menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="#000000" d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z"/></svg>
      </button>
    </div>

    <div class="site-drawer__header">
      <div class="site-drawer__logo">
        <a href="/" class="logo-link">
          <img src="{{ 'logo-1.png' | asset_url }}" alt="{{ shop.name }}" class="site-logo--drawer" width="" height="">
        </a>
      </div>

      <div class="site-drawer__auth">
        <a href="/account" class="btn btn--login">
          <span class="btn__label">Login</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/></svg>
        </a>
      </div>
    </div>
    <hr style="margin-top: -20px;">
    <nav class="site-drawer__nav" aria-label="Drawer navigation">
      <ul class="drawer-menu">
        <li><a href="#" class="drawer-link drawer-nav-parent-text">Home</a></li>

        <li class="drawer-item drawer-has-children">
          <button class="drawer-toggle" aria-expanded="false">
            <span class="drawer-nav-parent-text">Shop</span>
            <svg class="icon chevron" width="16" height="16" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <ul class="drawer-submenu">
            <li><a href="#" class="drawer-link">All Products</a></li>
            <li><a href="#" class="drawer-link">Men’s</a></li>
            <li><a href="#" class="drawer-link">Women’s</a></li>
            <li><a href="#" class="drawer-link">Accessories</a></li>
            <li><a href="#" class="drawer-link">Sale</a></li>
          </ul>
        </li>

        <li class="drawer-item drawer-has-children">
          <button class="drawer-toggle" aria-expanded="false">
            <span class="drawer-nav-parent-text">Collections</span>
            <svg class="icon chevron" width="16" height="16" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <ul class="drawer-submenu">
            <li><a href="#" class="drawer-link">New Arrivals</a></li>
            <li><a href="#" class="drawer-link">Best Sellers</a></li>
            <li><a href="#" class="drawer-link">Seasonal</a></li>
            <li><a href="#" class="drawer-link">Limited Edition</a></li>
          </ul>
        </li>

        <li><a href="#" class="drawer-link drawer-nav-parent-text">About Us</a></li>
        <li><a href="#" class="drawer-link drawer-nav-parent-text">Blogs</a></li>
        <li><a href="#" class="drawer-link drawer-nav-parent-text">Contact</a></li>
      </ul>
    </nav>

    <div class="site-drawer__actions">
      <a href="/pages/wishlist" class="drawer-action">
          <span class="drawer-action-value">Wishlist</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12.001 3.818a6.228 6.228 0 0 1 8.51 9.087l-5.224 5.225h-.001L12 21.415l-7.28-7.279l-1.23-1.232c-.001 0 0 0 0 0A6.228 6.228 0 0 1 12 3.818Zm3.285 11.485l3.811-3.812a4.228 4.228 0 1 0-5.98-5.98L12 6.627L10.883 5.51a4.228 4.228 0 1 0-5.98 5.98l1.232 1.232L12 18.587l3.285-3.285Z"/></svg>
      </a>

      <a href="#search" class="drawer-action">
          <span class="drawer-action-value">Search</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M15.096 5.904a6.5 6.5 0 1 0-9.192 9.192a6.5 6.5 0 0 0 9.192-9.192ZM4.49 4.49a8.5 8.5 0 0 1 12.686 11.272l5.345 5.345l-1.414 1.414l-5.345-5.345A8.501 8.501 0 0 1 4.49 4.49Z"/></svg>
      </a>
    </div>

    <div class="site-drawer__socials">
      <div class="socials-title">Follow us on</div>
      <div class="socials-icons">
        <a class="social" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 224 432"><path fill="#000000" d="M145 429H66V235H0v-76h66v-56q0-48 27-74t72-26q36 0 59 3v67l-41 1q-22 0-30 9t-8 27v49h76l-10 76h-66v194z"/></svg></a>
        <a class="social" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 14" fill="#000000"><g fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"><path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/><path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/><path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/></g></svg></a>
        <a class="social" href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="X"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><path fill="#000000" d="M9.294 6.928L14.357 1h-1.2L8.762 6.147L5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05L9.294 6.928ZM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977l.538.775l4.491 6.47h-1.843l-3.664-5.28Z"/></svg></a>
        <a class="social" href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" aria-label="TikTok"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#000000" d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07z"/></svg></a>
      </div>
    </div>

    <div class="site-drawer__payments">
      <div class="payments-title">Payment:</div>
      <div class="payments-icons">
        <img src="{{ 'payment-visa.png' | asset_url }}" alt="Visa" class="payment-logo" width="" height="">
        <img src="{{ 'payment-master-card.png' | asset_url }}" alt="Mastercard" class="payment-logo" width="" height="">
        <img src="{{ 'payment-amex.png' | asset_url }}" alt="Amex" class="payment-logo" width="" height="">
        <img src="{{ 'payment-discover.png' | asset_url }}" alt="Discover" class="payment-logo" width="" height="">
        <img src="{{ 'payment-paypal.png' | asset_url }}" alt="PayPal" class="payment-logo" width="" height="">
      </div>
    </div>
  </div>

  <!-- overlay -->
  <div class="site-drawer__backdrop" id="drawer-backdrop" tabindex="-1" data-close-drawer></div>
</div>



{% comment %} // {
//   "name": "Header Dropdown Menu",
//   "settings": [
//     {
//       "type": "link_list",
//       "id": "header_dropdown_menu",
//       "label": "Header Dropdown Menu"
//     },
//     {
//       "type": "checkbox",
//       "id": "header_dropdown_menu_mega_menu_selection",
//       "label": "Enable Mega menu",
//       "default": false
//     }
//   ]
// } {% endcomment %}

{% schema %}
{
  "name": "Header Dropdown Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "header_dropdown_menu",
      "label": "Main Navigation Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "enable_mega_menu",
      "label": "Enable Mega Menu Layout",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable Sticky Header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo Width",
      "default": 140
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show Right-side Icons (Search, Account, Wishlist, Cart)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_drawer",
      "label": "Enable Mobile Drawer (Off-canvas Menu)",
      "default": true
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu Alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "color",
      "id": "header_bg_color",
      "label": "Header Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "header_text_color",
      "label": "Menu Text Color",
      "default": "#000000"
    },
    {
      "type": "url",
      "id": "cta_button_link",
      "label": "Optional CTA Button Link"
    },
    {
      "type": "text",
      "id": "cta_button_label",
      "label": "Optional CTA Button Label"
    }
  ],
  "presets": [
    {
      "name": "Header Dropdown Menu",
      "category": "Header"
    }
  ]
}
{% endschema %}
